In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('adult_data.csv')
df.columns = ['age','workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation',
             'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'salary']

In [3]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df['salary'].value_counts()

 <=50K    24720
 >50K      7841
Name: salary, dtype: int64

In [6]:
df['salary'] = np.where(df['salary'].str.endswith('<=50K'),0,1)

In [7]:
df.drop(['fnlwgt'],1,inplace=True)

C:\Users\ASUS\AppData\Local\Temp/ipykernel_124/673368180.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['fnlwgt'],1,inplace=True)

In [8]:
dummy = pd.get_dummies(df[['workclass','education','marital_status','occupation','relationship','race','sex','native_country']],drop_first=True)

In [9]:
df.drop(['workclass','education','marital_status','occupation','relationship','race','sex','native_country'],1,inplace=True)

C:\Users\ASUS\AppData\Local\Temp/ipykernel_124/1714537061.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['workclass','education','marital_status','occupation','relationship','race','sex','native_country'],1,inplace=True)

In [10]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
df.iloc[:,:-1]=sc.fit_transform(df.iloc[:,:-1])

In [11]:
df = pd.concat([df,dummy],1)

C:\Users\ASUS\AppData\Local\Temp/ipykernel_124/2209360954.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df,dummy],1)

In [12]:
df

,age,education_num,capital_gain,capital_loss,hours_per_week,salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,0.301370,0.800000,0.021740,0.0,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.452055,0.800000,0.000000,0.0,0.122449,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.287671,0.533333,0.000000,0.0,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0.493151,0.400000,0.000000,0.0,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0.150685,0.800000,0.000000,0.0,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.733333,0.000000,0.0,0.377551,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32557,0.315068,0.533333,0.000000,0.0,0.397959,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32558,0.561644,0.533333,0.000000,0.0,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32559,0.068493,0.533333,0.000000,0.0,0.193878,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32560,0.479452,0.533333,0.150242,0.0,0.397959,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
X = df.drop(['salary'],1)
y = df.salary

C:\Users\ASUS\AppData\Local\Temp/ipykernel_124/918599500.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df.drop(['salary'],1)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier

In [16]:
LR = LogisticRegression()
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()
SV = SVC()
KNN = KNeighborsClassifier()
XG = XGBClassifier()

In [17]:
from sklearn.metrics import accuracy_score, f1_score

In [18]:
models = [LR,DT,RF,SV,KNN,XG]
for model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(model)    
    print('Training Accuracy Score: ', model.score(X_train, y_train))
    print('Testing Accuracy Score: ', accuracy_score(y_test, y_pred))
    print('F1_Score: ', f1_score(y_test,y_pred))
    print()

c:\users\asus\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()
Training Accuracy Score:  0.852080773955774
Testing Accuracy Score:  0.8453861507753724
F1_Score:  0.6535947712418301

DecisionTreeClassifier()
Training Accuracy Score:  0.9788467444717445
Testing Accuracy Score:  0.8185168125287886
F1_Score:  0.6242848061029879

RandomForestClassifier()
Training Accuracy Score:  0.9788467444717445
Testing Accuracy Score:  0.8441578381698143
F1_Score:  0.6622296173044925

SVC()
Training Accuracy Score:  0.8478961916461917
Testing Accuracy Score:  0.8355596499309074
F1_Score:  0.6211531659002476

KNeighborsClassifier()
Training Accuracy Score:  0.8733492014742015
Testing Accuracy Score:  0.8186703516044833
F1_Score:  0.6046200200870439

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)
Training Accuracy Score:  0.8957309582309583
Testing Accuracy Score:  0.8691847075080608
F1_Score:  0.7150501672240802

In [19]:
from sklearn.model_selection import cross_val_score

In [20]:
score_rf = cross_val_score(XGBClassifier(),X,y,cv=5)
score_rf

array([0.86826347, 0.87100737, 0.872543  , 0.8737715 , 0.87684275])

In [21]:
np.average(score_rf)

0.8724856184437023

In [22]:
RF.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [31]:
import pickle
with open ('model_pickel','wb') as file:
    pickle.dump(XG, file)

In [32]:
with open('model_pickel','rb') as file:
    model = pickle.load(file)